<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSLoginToLifesense</key>
	<dict>
		<key>url</key>
		<string>%@/sessions_service/login</string>
		<key>request</key>
		<string>LSLoginToLifesenseRequest</string>
		<key>response</key>
		<string>LSLoginToLifesenseResponse</string>
		<key>desc</key>
		<string>LSLoginToLifesense</string>
	</dict>
	<key>LSLogout</key>
	<dict>
		<key>url</key>
		<string>%@/sessions_service/logout</string>
		<key>request</key>
		<string>LSLogoutRequest</string>
		<key>response</key>
		<string>LSLogoutResponse</string>
		<key>desc</key>
		<string>LSLogout</string>
	</dict>
	<key>LSThirdPartLogin</key>
	<dict>
		<key>url</key>
		<string>%@/sessions_service/loginFromThirdpart</string>
		<key>request</key>
		<string>LSThirdPartLoginRequest</string>
		<key>response</key>
		<string>LSThirdPartLoginResponse</string>
		<key>desc</key>
		<string>LSThirdPartLogin</string>
	</dict>
	<key>LSLoginFromOpenId</key>
	<dict>
		<key>url</key>
		<string>%@/sessions_service/loginFromOpenId</string>
		<key>request</key>
		<string>LSLoginFromOpenIdRequest</string>
		<key>response</key>
		<string>LSLoginFromOpenIdResponse</string>
		<key>desc</key>
		<string>LSOpenIdLogin</string>
	</dict>
</dict>
</plist>
